# Ignore all hidden files and folders
.*

# BUT, do not ignore these specific essentials:
!.gitignore
!.github/
!.editorconfig
!.mvn/
!.spec/

/build
/captures
local.properties

# Project exclude paths
/app/build/
/app/build/intermediates/javac/release/classes/

